h1{
	@include heading-1;
}
h2{
	@include heading-2;
}
a{
	@include base-a;
}
p{
	@include base-p;
}
q{
	@include base-q;
}
blockquote{
	@include base-blockquote;
}
ul{
	@include base-ul;
	& li{
		@include base-li-unordered;
	}
}
ol{
	@include base-ol;
	& li{
		@include base-li-ordered;
	}
}
mark{
	@include base-mark;
}
dl{
	@include base-dl;
	& dt{
		@include base-dt;
	}
	& dd{
		@include base-dd;
	}
}
.content{
	&__header{
		&-1{
			@include heading-1;
		}
		&-2{
			@include heading-2;
		}
	}
	&__p{
		@include base-p;
	}
	&__quote{
		@include base-q;
	}
	&__blockquote{
		@include base-blockquote;
	}
	&__list{
		&-unordered{
			@include base-ul;
		}
		&-ordered{
			@include base-ul;
		}
	}
	&__item{
		&-unordered{
			@include base-li-unordered;
		}
		&-ordered{
			@include base-li-ordered;
		}
	}
	&__deflist{
		@include base-dl;
		&__term{
			@include base-dt;
		}
		&__def{
			@include base-dd;
		}
	}
	&__intro{
		display:block;
		margin:1em 0;
		padding:calc-toRem(20) 0;
		border-top:solid 1px var(--color-yellow-light);
		border-bottom:solid 1px var(--color-yellow-light);
		font-size:calc-toRem(26);
		line-height:calc-toRem(38);
		font-weight:300;
		color:var(--color-yellow-light);
	}
}