$block:'accordion';
.accordion{
	&__button{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		width:100%;
		outline:none;
		border:none;
		color:$color-yellow-light;
		margin:convert-toRem(20) 0 convert-toRem(5);
		padding:0;
		text-align:left;
		&::before,&::after{
			display:none;
		}
		&:hover,&:focus{
			outline:none;
			border:none;
			color:$color-yellow-light;
			text-decoration:underline;
			&::before,&::after{
				display:none;
			}
		}
		&--open{
			.#{$block}__icon{
				transform:rotate(90deg);
			}
		}
		&--single{
			&-hidden{
				animation-duration:0.5s;
				animation-fill-mode:forwards;
				animation-name:$animation-hide-grow-shrink;
			}
			&-removed{
				visibility:hidden;
			}
		}
	}
	&__icon{
		display:inline-block;
		margin:0 0 0 convert-toRem(20);
		transition:transform 0.2s ease-out;
	}
	&__content{
		overflow:hidden;
		transition:max-height 0.2s ease-in;
		width:100%;
		max-height:0px;
	}
	@media #{$mq-tablet-min}{
		&__button{
			display:inline-flex;
			width:auto;
		}
	}
}