.contact{
	display:flex;
	flex-direction:column;
	&__button{
		display:inline-block;
	}
	&__copy,&__form{
		flex:1 1 auto;
	}
	&__form{
		margin:convert-toRem(45) 0 0;
	}
	&__input{
		position:relative;
		margin:convert-toRem(45) 0 convert-toRem(15);
		transition:opacity 0.2s ease-in;
		&:first-child{
			margin-top:0;
		}
		&--disabled{
			cursor:default;
			opacity:0.5;
		}
	}
	&__icon{
		&--submit{
			opacity:0;
			margin-top:convert-toRem(10);
			margin-left:convert-toRem(15);
			font-size:convert-toRem(34);
			color:$color-yellow-light;
			&-visible{
				transition:opacity 0.2s ease-in;
				opacity:1;
			}
		}
	}
	&__message{
		display:block;
		clear:both;
		margin:0;
		padding:convert-toRem(30) 0;
		font-size:convert-toRem(16);
		line-height:1.2;
		color:$color-yellow-light;
		opacity:0;
		&--visible{
			animation-duration:0.5s;
			animation-fill-mode:forwards;
			animation-name:$animation-show-shrink-grow;
		}
	}
	&__networks{
		margin-top:convert-toRem(30);
		margin-bottom:0;
		padding:0;
		list-style-type:none;
	}
	&__network{
		margin:0;
		font-size:convert-toRem(40);
		line-height:1;
		&::before{
			display:none;
		}
	}
	&__link{
		&--network{
			transition:color 0.1s ease-in;
			outline-offset:convert-toRem(2);
			&:link,&:visited{
				color:$color-yellow-light;
			}
			&:hover,&:active,&:focus{
				color:$color-blue-light;
			}
			&:focus{
				outline:dashed 1px $color-white-off;
			}
		}
	}
	&__recaptcha{
		display:inline-block;
	}
	&__submit{
		margin-top:convert-toRem(45);
	}
	&__tooltip{
		top:100%;
	}
	@media #{$mq-tablet-min}{
		&__form{
			display:grid;
			grid-template-columns:50% 50%;
			grid-template-rows:auto auto auto auto;
			grid-gap:convert-toRem(45) convert-toRem(30);
		}
		&__input{
			margin:0;
			&--detail{
				grid-column-start:auto;
				grid-column-end:span 1;
				grid-row-start:1;
				grid-row-end:span 1;
			}
			&--message{
				grid-column-start:1;
				grid-column-end:span 2;
				grid-row-start:2;
				grid-row-end:span 1;
			}
			&--recaptcha{
				grid-column-start:1;
				grid-column-end:span 2;
				grid-row-start:3;
				grid-row-end:span 1;
			}
		}
		&__submit{
			grid-column-start:1;
			grid-column-end:span 2;
			grid-row-start:4;
			grid-row-end:span 1;
			margin-top:0;
		}
	}
	@media #{$mq-medium-min}{
		flex-direction:row;
		&__copy{
			flex-basis:35%;
			max-width:35%;
		}
		&__form{
			flex-basis:65%;
			max-width:65%;
			margin-top:convert-toRem(5);
		}
	}
}