.header{
	position:sticky;
	top:0;
	z-index:10;
	display:block;
	overflow:hidden;
	width:100%;
	background:$color-background;
	padding:convert-toRem(15) 0;
	&__container{
		display:block;
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:flex-start;
		align-items:center;
	}
	&__link{
		display:block;
		float:left;
		&-logo{
			transition:max-width 0.1s ease-out;
			position:relative;
			display:block;
			width:100%;
			max-width:convert-toRem(60);
			border:none;
			&:link,&:visited{
				cursor:pointer;
			}
			&:hover,&:active{
				cursor:pointer;
			}
			&::after{
				content:"";
				position:absolute;
				z-index:3;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
		}
	}
	&__logo{
		padding-bottom:52/60*100%;
	}
	&__heading{
		transition:max-width padding-right 0.1s ease-out;
		overflow:hidden;
		display:block;
		max-width:100%;
		float:left;
		margin:0 0 0 convert-toRem(15);
		padding:0 convert-toRem(22) 0 0;
		border-right:solid 2px $color-yellow-dark;
		white-space:nowrap;
	}
	&__name{
		display:block;
		font-family:$font-montserrat;
		font-size:convert-toRem(22);
		font-weight:400;
		line-height:1.2em;
		color:$color-yellow-dark;
	}
	&__title{
		display:block;
		font-family:$font-montserrat;
		font-size:convert-toRem(14);
		font-weight:300;
		line-height:1.2em;
		color:$color-white-off;
	}
	&__nav{
		float:left;
		margin:0 0 0 convert-toRem(7);
	}
	@media #{$mq-large} and #{$mq-medium} and #{$mq-tablet}{
		&-sticking{
			padding:convert-toRem(7) 0;
			& .header{
				&__link{
					&-logo{
						max-width:convert-toRem(45);
					}
				}
				&__heading{
					max-width:0;
					padding-right:0;
				}
			}
		}
	}
	@media #{$mq-mobile}{
		position:static;
		padding:convert-toRemMo(15) 0;
		&__link{
			&-logo{
				width:14vw;
				max-width:convert-toRemMo(60);
			}
		}
		&__heading{
			border-right:none;
		}
		&__name{
			font-size:convert-toRem(26);
		}
		&__title{
			font-size:convert-toRem(18);
		}
	}
}