.header{
	display:block;
	overflow:hidden;
	&__link{
		&-logo{
			position:relative;
			display:block;
			width:convert-toRem(60);
			border:none;
			&:link,&:visited{
				cursor:pointer;
			}
			&:hover,&:active{
				cursor:pointer;
			}
			&::after{
				content:"";
				position:absolute;
				z-index:3;
				top:0;
				right:0;
				bottom:0;
				left:0;
			}
		}
	}
	&__logo{
		padding-bottom:52/60*100%;
	}
}