.heading{
	&-1{
		@include heading-1;
	}
	&-2{
		@include heading-2;
	}
	&-3{
		@include heading-3;
	}
	&-4{
		@include heading-4;
	}
	&-5{
		@include heading-5;
	}
	&--underline{
		position:relative;
		display:inline-block;
		&::after{
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			width:convert-toRem(110);
			max-width:50%;
			height:convert-toRem(2);
			background-color:$color-yellow-light;
		}
	}
	&__icon{
		flex-grow:0;
		flex-shrink:1;
		flex-basis:auto;
		display:inline-block;
		margin-right:convert-toRem(10);
		font-size:0.6em;
		color:$color-yellow-dark;
	}
}