.nav{
	&-main{
		display:block;
		padding:0;
		color:$color-white-off;
		text-transform:uppercase;
		font-family:$font-montserrat;
		font-size:convert-toRem(20);
		font-weight:300;
		line-height:1em;
	}
	&__list{
		&-main{
			list-style-type:none;
			padding:0;
			margin:0;
		}
	}
	&__item{
		&-main{
			position:relative;
			display:inline-block;
			margin:0;
			padding:0 0 0 convert-toRem(14);
			&::before{
				content:"/";
				position:absolute;
				top:0;
				left:0;
				display:inline-block;
				background:none;
				padding:convert-toRem(5) 0 0;
				font-size:convert-toRem(28);
			}
			&:first-child{
				padding:0;
				&:before{
					display:none;
					content:"";
				}
			}
		}
	}
	&__link{
		&-main{
			display:inline-block;
			padding:convert-toRem(5) convert-toRem(18);
			position:relative;
			&::before,&::after{
				content:"";
				position:absolute;
				top:0.7em;
				display:block;
				height:convert-toRem(2);
				background-color:$color-yellow-light;
			}
			&:link,&:visited{
				color:$color-white-off;
				text-decoration:none;
				&::before{
					left:convert-toRem(5);
					width:0;
					transition:width 0.25s;
				}
				&::after{
					right:convert-toRem(5);
					width:0;
					transition:width 0.25s;
				}
			}
			&:hover,&:active,&:focus{
				color:$color-white-off;
				text-decoration:none;
				&::before{
					left:convert-toRem(5);
					width:convert-toRem(8);
					transition:width 0.25s;
				}
				&::after{
					right:convert-toRem(5);
					width:convert-toRem(8);
					transition:width 0.25s;
				}
			}
		}
		&-skipto{
			position:absolute;
			top:-4rem;
			left:-10rem;
			display:inline-block;
			border:solid 1px $color-white-off;
			padding:convert-toRem(10) convert-toRem(20);
			background-color:$color-background;
			font-size:convert-toRem(20);
			&:focus{
				top:0;
				left:0;
			}
			&:link,&:visited,&:hover,&:active{
				color:$color-yellow-light;
				text-decoration:none;
			}
		}
	}
	@media #{$mq-mobile}{
		&-main{
			position:fixed;
			bottom:0;
			left:0;
			z-index:10;
			float:none;
			width:100%;
			margin:0;
			background:$color-background;
		}
		&__list{
			&-main{
				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:center;
				align-items:stretch;
				width:100%;
			}
		}
		&__item{
			&-main{
				flex-grow:1;
				flex-shrink:1;
				flex-basis:auto;
				padding:0;
				&::before{
					display:none;
					content:"";
				}
			}
		}
		&__link{
			&-main{
				padding:0;
				&::before,&::after{
					display:none;
					content:"";
				}
			}
		}
	}
}