.nav{
	&-main{
		display:block;
		padding:0;
		color:$color-white-off;
		text-transform:uppercase;
		font-family:$font-montserrat;
		font-size:convert-toRem(20);
		font-weight:300;
		line-height:1em;
	}
	&__container{
		&-toggler{
			display:none;
		}
	}
	&__list{
		&-main{
			list-style-type:none;
			padding:0;
			margin:0;
		}
	}
	&__item{
		&-main{
			position:relative;
			display:inline-block;
			margin:0;
			padding:0 0 0 convert-toRem(14);
			&::before{
				content:"/";
				position:absolute;
				top:0;
				left:0;
				display:inline-block;
				background:none;
				padding:convert-toRem(5) 0 0;
				font-size:convert-toRem(28);
			}
			&:nth-of-type(2){
				padding:0;
				&:before{
					display:none;
					content:"";
				}
			}
		}
		&-home{
			display:none;
		}
	}
	&__link{
		&-main{
			display:inline-block;
			padding:convert-toRem(5) convert-toRem(18);
			position:relative;
			&::before,&::after{
				content:"";
				position:absolute;
				top:0.7em;
				display:block;
				height:convert-toRem(2);
				background-color:$color-yellow-light;
			}
			&:link,&:visited{
				color:$color-white-off;
				text-decoration:none;
				&::before{
					left:convert-toRem(5);
					width:0;
					transition:width 0.25s;
				}
				&::after{
					right:convert-toRem(5);
					width:0;
					transition:width 0.25s;
				}
			}
			&:hover,&:active,&:focus{
				color:$color-white-off;
				text-decoration:none;
				&::before{
					left:convert-toRem(5);
					width:convert-toRem(8);
					transition:width 0.25s;
				}
				&::after{
					right:convert-toRem(5);
					width:convert-toRem(8);
					transition:width 0.25s;
				}
			}
			&:focus{
				outline:dotted 1px $color-white-off;
			}
			&-current{
				color:$color-yellow-light;
				&::before{
					left:convert-toRem(5);
					width:convert-toRem(8);
				}
				&::after{
					right:convert-toRem(5);
					width:convert-toRem(8);
				}
				&:link,&:visited{
					color:$color-yellow-light;
					&::before{
						left:convert-toRem(5);
						width:convert-toRem(8);
					}
					&::after{
						right:convert-toRem(5);
						width:convert-toRem(8);
					}
				}
				&:hover,&:active{
					color:$color-yellow-light;
				}
			}
		}
		&-skipto{
			position:absolute;
			top:-4rem;
			left:-10rem;
			display:inline-block;
			border:solid 1px $color-white-off;
			padding:convert-toRem(10) convert-toRem(20);
			background-color:$color-background;
			font-size:convert-toRem(20);
			&:focus{
				top:0;
				left:0;
			}
			&:link,&:visited,&:hover,&:active{
				color:$color-yellow-light;
				text-decoration:none;
			}
		}
	}
	&__icon{
		display:none;
	}
	@media #{$mq-mobile}{
		&-main{
			position:fixed;
			transition:max-height 0.2s ease-in;
			bottom:0;
			left:0;
			z-index:10;
			float:none;
			width:100%;
			max-height:0;
			margin:0;
			background:none;
			&-open{
				max-height:convert-toRemMo(100);
			}
		}
		&__container{
			&-toggler{
				position:absolute;
				left:0;
				bottom:100%;
				display:block;
			}
		}
		&__toggler{
			display:inline-flex;
			flex-direction:row;
			justify-content:center;
			align-items:center;
			width:12vw;
			max-width:convert-toRemMo(60);
			height:12vw;
			max-height:convert-toRemMo(60);
			border:none;
			padding:0;
			background-color:$color-yellow-light;
			color:$color-background;
			&::before{
				content:"";
				display:none;
			}
			&:hover,&:focus{
				cursor:pointer;
				border:none;
				outline:none;
			}
			& .nav__icon-toggler{
				width:8vw;
				max-width:convert-toRemMo(40);
				height:8vw;
				max-height:convert-toRemMo(40);
			}
		}
		&__list{
			&-main{
				display:flex;
				flex-direction:row;
				flex-wrap:nowrap;
				justify-content:space-evenly;
				align-items:stretch;
				width:100%;
				border-top:solid 1px $color-white-off;
				background-color:#000;
			}
		}
		&__item{
			&-main{
				flex-grow:0;
				flex-shrink:1;
				flex-basis:auto;
				&,&:nth-of-type(2){
					padding:convert-toRem(7) convert-toRem(5);
				}
				&::before{
					display:none;
					content:"";
				}
			}
			&-home{
				display:block;
			}
		}
		&__link{
			&-main{
				display:flex;
				flex-direction:column;
				align-items:center;
				padding:convert-toRemMo(10) convert-toRem(5);
				font-size:convert-toRemMo(16);
				&::before,&::after{
					display:none;
					content:"";
				}
				&:hover,&:active{
					.nav__icon-main{
						transform:translate(0,convert-toRem(-5));
					}
				}
				&-current{
					border-bottom:solid 1px $color-yellow-light;
				}
			}
		}
		&__icon{
			&-toggler{
				display:block;
				margin:0 auto;
			}
			&-main{
				transition:transform 0.2s ease-out;
				display:block;
				margin-bottom:convert-toRemMo(7);
				font-size:convert-toRemMo(30);
				color:$color-yellow-light;
			}
		}
	}
}