.portfolio{
	&__item{
		display:block;
		display:grid;
		grid-template-columns:60% 40%;
		grid-template-rows:auto auto;
		margin:convert-toRem(45) auto;
		overflow:hidden;
		&:first-of-type{
			margin-top:0;
		}
		&-reverse{
			grid-template-columns:40% 60%;
		}
		@media #{$mq-large}{
			margin:convert-toRem(90) auto;
		}
		@media #{$mq-tablet}{
			margin:convert-toRem(38) auto;
		}
		@media #{$mq-mobile}{
			display:flex;
			flex-direction:column;
			margin:convert-toRemMo(60) auto;
		}
	}
	&__container{
		&-details,&-summary,&-tech{
			display:block;
			float:left;
			width:60%;
			@supports (display: grid){
				width:auto;
			}
			padding-left:0;
			padding-right:convert-toRem(45);
			&-reverse{
				float:right;
				padding-left:convert-toRem(45);
				padding-right:0;
			}
			@media #{$mq-large}{
				padding-right:convert-toRem(53);
				&-reverse{
					padding-left:convert-toRem(53);
				}
			}
			@media #{$mq-tablet}{
				width:56.5%;
				padding-right:convert-toRem(38);
				@supports (display: grid){
					width:auto;
				}
				&-reverse{
					padding-left:convert-toRem(38);
					padding-right:0;
				}
			}
			@media #{$mq-mobile}{
				float:none;
				width:100%;
				padding-left:0;
				padding-right:0;
				flex-grow:0;
				flex-shrink:1;
				flex-basis:auto;
			}
		}
		&-details{
			grid-column-start:1;
			grid-column-end:span 1;
			grid-row-start:1;
			grid-row-end:span 1;
			align-self:end;
			&-reverse{
				grid-column-start:2;
				grid-column-end:span 1;
				grid-row-start:1;
				grid-row-end:span 1;
			}
		}
		&-thumb{
			order:3;
			display:block;
			float:right;
			width:40%;
			max-width:convert-toRem(365);
			@supports (display: grid){
				width:auto;
				grid-column-start:2;
				grid-column-end:span 1;
				grid-row-start:1;
				grid-row-end:span 3;
			}
			&-reverse{
				float:left;
				grid-column-start:1;
				grid-column-end:span 1;
				grid-row-start:1;
				grid-row-end:span 3;
			}
			@media #{$mq-tablet}{
				width:43.5%;
				@supports (display: grid){
					width:auto;
				}
			}
			@media #{$mq-mobile}{
				float:none;
				width:100%;
				clip-path:none;
				margin-top:convert-toRemMo(20);
			}
		}
		&-tech{
			order:2;
			grid-column-start:1;
			grid-column-end:span 1;
			grid-row-start:2;
			grid-row-end:span 1;
			&-reverse{
				grid-column-start:2;
				grid-column-end:span 1;
				grid-row-start:2;
				grid-row-end:span 1;
				align-self:start;
			}
		}
		&-summary{
			order:4;
			grid-column-start:1;
			grid-column-end:span 1;
			grid-row-start:3;
			grid-row-end:span 1;
			&-reverse{
				grid-column-start:2;
				grid-column-end:span 1;
				grid-row-start:3;
				grid-row-end:span 1;
				align-self:start;
			}
			@media #{$mq-mobile}{
				margin-top:convert-toRemMo(20);
			}
		}
	}
	&__title{
		&-item{
			margin:0;
		}
	}
	&__role{
		&-item{
			margin:convert-toRem(5) 0 0;
			font-size:convert-toRem(19);
			color:$color-yellow-light;
			@media #{$mq-large}{
				margin:convert-toRem(6) 0 0;
				font-size:convert-toRem(22);
			}
			@media #{$mq-tablet}{
				margin:convert-toRem(4) 0 0;
				font-size:convert-toRem(17);
			}
			@media #{$mq-mobile}{
				margin:convert-toRemMo(4) 0 0;
				font-size:convert-toRemMo(18);
				line-height:1.45em;
			}
		}
	}
	&__description{
		&-item{
			margin:convert-toRem(15) 0 0;
			font-size:1em;
			@media #{$mq-large}{
				margin:convert-toRem(18) 0 0;
				font-size:1.171865em;
			}
			@media #{$mq-tablet}{
				margin:convert-toRem(10) 0 0;
				font-size:0.9em;
			}
		}
	}
	&__image{
		&-item{
			display:block;
			width:100%;
			clip-path:url(#cm-triangle);
		}
	}
	&__button{
		&-item{
			margin:convert-toRem(30) 0 0;
			@media #{$mq-large}{
				margin:convert-toRem(35) 0 0;
			}
			@media #{$mq-tablet}{
				margin:convert-toRem(26) 0 0;
			}
			@media #{$mq-mobile}{
				margin:convert-toRemMo(25) 0 0;
			}
		}
	}
}