$tiles_num-rows-tablet:2;
$tiles_num-rows-medium-min:3;
.tiles{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:0;
	&__tile,&__content{
		flex-grow:1;
		flex-shrink:1;
		flex-basis:100%;
		overflow:hidden;
	}
	&__tile{
		margin:convert-toRem(15) auto;
		padding:convert-toRem(15) convert-toRem(20);
	}
	@media #{$mq-tablet-min}{
		display:grid;
		grid-auto-flow:column;
		justify-items:start;
		justify-content:space-between;
		&__tile{
			margin:0;
			grid-column-end:span 1;
		}
	}
	@media #{$mq-tablet}{
		grid-row-gap:convert-toRem(15);
		grid-template-columns:repeat(#{$tiles_num-rows-tablet},1fr);
		margin:0 convert-toRem(-20);
		&__tile,&__content{
			padding-left:convert-toRem(20);
			padding-right:convert-toRem(20);
		}
		&__tile{
			margin:0;
			padding-top:convert-toRem(15);
			padding-bottom:convert-toRem(15);
			@for $i from 1 through $tiles_num-rows-tablet{
			  &:nth-of-type(#{$tiles_num-rows-tablet}n+#{$i}){
			  	grid-column-start:#{$i};
			  	@if($i == 1){
			  		justify-self:start;
			  	}
			  	@else if($i == $tiles_num-rows-tablet){
			  		justify-self:end;
			  	}
			  	@else{
			  		justify-self:center;
			  	}
			  }
			}
		}
		&__content{
			grid-column:1 / span #{$tiles_num-rows-tablet};
		}
	}
	@media #{$mq-medium-min}{
		grid-template-columns:repeat(#{$tiles_num-rows-medium-min},1fr);
		grid-row-gap:convert-toRem(calc-proportion-lg-md(15));
		margin:0 convert-toRem(calc-proportion-lg-md(-20));
		&__tile,&__content{
			padding-left:convert-toRem(calc-proportion-lg-md(20));
			padding-right:convert-toRem(calc-proportion-lg-md(20));
		}
		&__tile{
			margin:0;
			padding-top:convert-toRem(calc-proportion-lg-md(15));
			padding-top:convert-toRem(calc-proportion-lg-md(15));
			@for $i from 1 through $tiles_num-rows-medium-min{
			  &:nth-of-type(#{$tiles_num-rows-medium-min}n+#{$i}){
			  	grid-column-start:#{$i};
			  	@if($i == 1){
			  		justify-self:start;
			  	}
			  	@else if($i == $tiles_num-rows-medium-min){
			  		justify-self:end;
			  	}
			  	@else{
			  		justify-self:center;
			  	}
			  }
		  }
		}
		&__content{
			grid-column:1 / span #{$tiles_num-rows-medium-min};
		}
	}
	@media #{$mq-large}{
		grid-row-gap:convert-toRem(15);
		margin:0 convert-toRem(-20);
		&__tile,&__content{
			padding-left:convert-toRem(20);
			padding-right:convert-toRem(20);
		}
		&__tile{
			padding-top:convert-toRem(15);
			padding-bottom:convert-toRem(15);
		}
	}
}