$tiles_num-rows-tablet:2;
$tiles_num-rows-medium-min:3;
.tiles{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	&__tile,&__content{
		flex-grow:1;
		flex-shrink:1;
		flex-basis:100%;
		overflow:hidden;
	}
	@media #{$mq-tablet-min}{
		display:grid;
		grid-auto-flow:column;
		justify-items:stretch;
		&__tile{
			grid-column-end:span 1;
		}
	}
	@media #{$mq-tablet}{
		grid-template-columns:repeat(#{$tiles_num-rows-tablet},1fr);
		&__tile{
			@for $i from 1 through $tiles_num-rows-tablet{
			  &:nth-of-type(#{$tiles_num-rows-tablet}n+#{$i}){
			  	grid-column-start:#{$i}
			  }
			}
		}
		&__content{
			grid-column:1 / span #{$tiles_num-rows-tablet};
		}
	}
	@media #{$mq-medium-min}{
		grid-template-columns:repeat(#{$tiles_num-rows-medium-min},1fr);
		&__tile{
			@for $i from 1 through $tiles_num-rows-medium-min{
			  &:nth-of-type(#{$tiles_num-rows-medium-min}n+#{$i}){
			  	grid-column-start:#{$i}
			  }
		  }
		}
		&__content{
			grid-column:1 / span #{$tiles_num-rows-medium-min};
		}
	}
}