.tooltip{
	position:absolute;
	z-index:10;
	overflow:visible;
	opacity:0;
	transform:translateY(convert-toRem(5));
	display:inline-block;
	display:inline-flex;
	flex-direction:row;
	flex-wrap:nowrap;
	margin:convert-toRem(7) 0 0;
	padding:convert-toRem(4) convert-toRem(3);
	background-color:$color-yellow-light;
	font-size:convert-toRem(14);
	line-height:1;
	color:$color-background;
	&::before{
		content:'';
		position:absolute;
		left:convert-toRem(5);
		bottom:100%;
		display:block;
		width:0;
		height:0;
		border-left:convert-toRem(5) solid transparent;
		border-right:convert-toRem(5) solid transparent;
		border-bottom:convert-toRem(7) solid $color-yellow-light;
	}
	&--visible{
		transition:all 0.3s ease-in;
		opacity:1;
		transform:translateY(0);
	}
	&__icon{
		flex-grow:0;
		flex-shrink:0;
		flex-basis:auto;
		display:inline-block;
		margin-right:convert-toRem(5);
	}
}