@mixin base-button{
	position:relative;
	display:inline-block;
	border:solid 1px $color-white-off;
	padding:calc-toRem(11) calc-toRem(30);
	color:$color-white-off;
	text-decoration:none;
	transition:unset;
	font-family:$font-montserrat;
	font-size:calc-toRem(20);
	font-weight:400;
	&::before{
		content:'';
		position:absolute;
		z-index:-1;
		top:0;
		right:30%;
		bottom:0;
		left:30%;
		display:block;
		opacity:0;
		background-color:$color-background;
		transition:unset;
	}
	&:hover,&:active,&:focus{
		border:solid 1px $color-white-off;
		color:$color-background;
		text-decoration:none;
		transition:color 0.15s ease-in-out;
		&::before{
			opacity:1;
			right:0;
			left:0;
			background-color:$color-white-off;
			transition:all 0.15s ease-in-out;
		}
	}
	#{$mq-large}{
		padding:calc-toRem(12) calc-toRem(35);
		font-size:calc-toRem(23);
	}
	#{$mq-tablet}{
		padding:calc-toRem(9) calc-toRem(28);
		font-size:calc-toRem(19);
	}
	#{$mq-mobile}{
		clear:both;
		display:block;
		padding:calc-toRemMo(12) calc-toRemMo(45);
		float:left;
		font-size:calc-toRemMo(20);
	}
}
@mixin base-button-yellow-dark{
	border-color:$color-yellow-dark;
	color:$color-yellow-dark;
	text-decoration:none;
	&:hover,&:active,&:focus{
		border-color:$color-yellow-dark;
		color:$color-background;
		text-decoration:none;
		text-decoration:none;
		&::before{
			background-color:$color-yellow-dark;
		}
	}
}
@mixin base-button-yellow-light{
	border-color:$color-yellow-light;
	color:$color-yellow-light;
	text-decoration:none;
	&:hover,&:active,&:focus{
		border-color:$color-yellow-light;
		color:$color-background;
		text-decoration:none;
		&::before{
			background-color:$color-yellow-light;
		}
	}
}