$mq-mobile: "(max-width: 47.9375em)";
$mq-mobile-retina: "(max-width: 47.9375em) and (-webkit-min-device-pixel-ratio: 2)";
$mq-tablet-min: "(min-width: 48em)";
$mq-tablet-max: "(max-width: 64em)";
$mq-tablet: "#{$mq-tablet-min} and #{$mq-tablet-max}";
$mq-tablet-retina: "(min-width: 48em) and (max-width: 64em) and (-webkit-min-device-pixel-ratio: 2)";
$mq-medium-min: "(min-width: 64.0625em)";
$mq-medium-max: "(max-width: 74.9375em)";
$mq-medium: "#{$mq-medium-min} and #{$mq-medium-max}";
$mq-large: "(min-width: 75em)";
$mq-large-retina: "(min-width: 75em) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)";