@mixin anchor{
	color:$color-yellow-light;
	text-decoration:underline;
	&:link,&:visited{
		color:$color-yellow-light;
		text-decoration:underline;
	}
	&:hover,&:active{
		color:$color-yellow-light;
		text-decoration:none;
	}
}
a{
	@include anchor;
}