@mixin button-base{
	position:relative;
	display:inline-block;
	border-style:solid;
	border-width:1px;
	background:none;
	padding:convert-toRem(11) convert-toRem(30);
	text-decoration:none;
	transition:unset;
	font-family:$font-montserrat;
	font-size:convert-toRem(20);
	font-weight:400;
	&::before,&::after{
		content:'';
		position:absolute;
		z-index:-1;
		top:0;
		right:30%;
		bottom:0;
		left:30%;
		display:block;
		opacity:0;
		background-color:$color-background;
		transition:unset;
	}
	&::after{
		z-index:-2;
		right:0;
		left:0;
		display:block;
		opacity:0;
		background-color:$color-white-off;
	}
	&:link,&:visited{
		border-style:solid;
		border-width:1px;
		background:none;
		text-decoration:none;
	}
	&:hover,&:active,&:focus{
		cursor:pointer;
		outline:none;
		border-style:solid;
		border-width:1px;
		background:none;
		color:$color-background;
		text-decoration:none;
		transition:color 0.15s ease-in-out;
		&::before{
			opacity:1;
			right:0;
			left:0;
			transition:all 0.15s ease-in-out;
		}
	}
	&[disabled]{
		cursor:default;
		opacity:0.5;
		&::before{
			opacity:1;
			right:0;
			left:0;
		}
	}
	@media #{$mq-large}{
		padding:convert-toRem(12) convert-toRem(35);
		font-size:convert-toRem(23);
	}
	@media #{$mq-tablet-max}{
		padding:convert-toRemMo(12) convert-toRemMo(45);
		font-size:convert-toRemMo(20);
	}
	@media #{$mq-mobile}{
		clear:both;
		display:block;
		float:left;
	}
}
@mixin button{
	@include button-base;
	border-color:$color-white-off;
	color:$color-white-off;
	&:link,&:visited{
		border-color:$color-white-off;
		color:$color-white-off;
	}
	&:hover,&:active,&:focus{
		border-color:$color-white-off;
		color:$color-background;
		&::before{
			background-color:$color-white-off;
		}
	}
}
button{
	@include button;
}