@mixin heading{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}
@mixin heading-1{
	@include heading;
	margin:convert-toRem(50) 0 convert-toRem(20);
	padding:0;
	font-family:$font-montserrat;
	font-size:convert-toRem(86);
	line-height:convert-toRem(96);
	font-weight:normal;
	color:$color-yellow-dark;
	@media #{$mq-large}{
		margin:convert-toRem(59) 0 convert-toRem(23);
		font-size:convert-toRem(101);
		line-height:convert-toRem(112);
	}
	@media #{$mq-mobile}{
		margin:convert-toRemMo(30) 0 convert-toRemMo(35);
		font-size:convert-toRemMo(41);
		line-height:convert-toRemMo(46);
		font-weight:700;
	}
}
@mixin heading-2{
	@include heading;
	margin:convert-toRem(30) 0 convert-toRem(15);
	padding:0;
	font-family:$font-montserrat;
	font-size:convert-toRem(44);
	line-height:convert-toRem(50);
	font-weight:700;
	color:$color-blue-light;
	@media #{$mq-large}{
		font-size:convert-toRem(52);
		line-height:convert-toRem(59);
	}
	@media #{$mq-mobile}{
		font-size:convert-toRemMo(34);
		line-height:convert-toRemMo(40);
	}
}
@mixin heading-3{
	@include heading;
	margin:convert-toRem(25) 0 convert-toRem(10);
	padding:0;
	font-family:$font-montserrat;
	font-size:convert-toRem(32);
	line-height:convert-toRem(38);
	font-weight:400;
	color:$color-white-off;
	@media #{$mq-large}{
		font-size:convert-toRem(36);
		line-height:convert-toRem(45);
	}
	@media #{$mq-mobile}{
		font-size:convert-toRemMo(24);
		line-height:convert-toRemMo(30);
	}
}
h1{
	@include heading-1;
}
h2{
	@include heading-2;
}
h3{
	@include heading-3;
}